@model Blog.Entities.Comments.ViewModels.CommentViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Visitor's comments</h1>
<hr/>
@using (Html.BeginForm("Index", "Comments", FormMethod.Post, new { data_validatable = true }))
{
    <div>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <br/>
        Author: <input type="text" id="author" name="author" value="@Model.Author" placeholder="Type your alias"/>
        <input type="submit" id="submit-button" class="button-poll button-poll-background" value="Submit"/><br/>
        Comment:<br/>
        <textarea id="message" name="comment" rows="5" placeholder="Type your comment here"></textarea><br/>
        @Html.ValidationMessageFor(model => model.Comment)
    </div>
}
<div id="comments">
    @foreach (var comment in Model.AllComments.OrderByDescending(c => c.Time))
    {
        <section class="comment-section">
            <span class ="author">@comment.Author: </span>
            <span class="comment">@comment.Comment</span>
            <br />
            <span class="time">@comment.Time</span>
        </section>
    }
</div>

